img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
body{
    background-color: rgb(161, 205, 206);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction:rtl;
}
